 
.customBtnBg{
    background-color: #CDD8E2;
}
.customBgSection{
    background-color: #CDD8E2;
}
.customWidth{
    width: 75%;
}
/* .customHeight {
    height: 250px;
    width: 300px;
    background-color: #CDD8E2;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

.customHeight {
  height: 250px;
  width: 230px;
  background-color: #CDD8E2;
  border-radius: 21px;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  cursor: pointer;
}

.cardContent {
  display: flex;
  flex-direction: column ;
  align-items: center;
}

.cardImage {
  width: 60px;
  transition: 0.3s;
}

.cardDesc {
  display: none;
  margin-top: 10px;
}
.customHeight:hover{
    background-color: #6634E1;
    color: white !important;
}
 
.customHeight:hover .cardImage {
  display: none;
 
}

.customHeight:hover .cardDesc {
  display: block;
  transition: .3s !important;
}

@media (min-width: 0px) and (max-width: 525px) {
.customWidth{
    width: 100%;
}
.customHeight{
    display: block;
    height: auto !important;
    width: 90% !important;
    flex-direction: column;
    padding: 100px 0px;
    margin: auto;
}
}
@media (min-width: 526px) and (max-width: 1024px) {
  .customHeight{
    margin: auto !important;
  }
}