.forgot-card {
    width: 100%;
    max-width: 950px;
    padding: 60px;
    border-radius: 8px;
}

.custom-input {
    height: 50px;
    border-radius: 30px;
}

.custom-btn {
    height: 50px;
    border-radius: 30px;
    background: #1f2630;
    color: #fff;
    border: none;
}

.custom-btn:hover {
    background: #1f2630;
    color: #fff;
}